.cta-container {
    transition: transform 0.2s ease-in-out;
    transition: background-color 0.3s;
}

.menu-container {
    align-content: center;
    border-radius: 7rem;
    background-color: #ffffff;
    max-width: 90%;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border: 1rem solid #ff6f00;
    margin-bottom: 3rem;
}

.menu-container2 {
    align-content: center;
}

.menu-cards {
    font-family: var(--ff-secondary);
    text-align: center;
    border-radius: 3rem;
    color: black;
    margin: 3rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    width: 70vw;

}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-evenly;
    overflow: hidden;
    background: #ff6600;
    text-align: center;
    justify-items: center;
    border-radius: .5rem;
    transition: transform 0.2s ease-in-out;
    margin-bottom: 1rem;
    box-shadow: 0px 0rem 1.5rem 0px #022c37;
}

.menu-img {
    width: 100%;
    aspect-ratio: 3/4;
    overflow: hidden;
    object-fit: cover;
}

.selected-hero-container {
    background: url(../../imgs/selected-back.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.hero-main {
    display: flex;
    align-items: center;
    gap: 2rem;
    color: var(--clr-blue);
    margin: 0px auto;
    width: 85%;
    height: min(43rem, 55rem);
}

.hero-image {
    border-radius: 2rem;
    width: 70%;
}

.hero-img-container {
    width: 60%;
    display: flex;
    justify-content: center;
}

.subscribe {
    background: #000000;
    color: var(--clr-white);
    display: flex;
    padding: 5rem;
    align-items: center;
    gap: 0.5rem;
    flex-direction: column;
    text-align: center;
    font-family: var(--ff-main);
    font-size: clvar(--fs-xxs);
    margin-top: 5rem;
    margin-bottom: 5rem;
    max-width: 80vw;
    border-radius: 3rem;
    margin-left: auto;
    margin-right: auto;
}

.in-touch {
    display: grid;
    align-items: center;
    align-content: center;
    margin-left: 3rem;
    gap: 1rem;
    max-width: 100%;
}

.division-container {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.text-container-food {
    width: 50%;
}

.swiper {
    width: 30rem;
    height: 40rem;
}

.swiper-slide {
    color: var(--clr-white);
    overflow: hidden;
    border-radius: 2rem;
    background-color: #ff8a16;
    gap: 1rem;
}

.slider-img {
    margin-top: 1rem;
    object-fit: cover;
    width: 90%;
    height: 50%;
    border-radius: 2rem;
    z-index: -1;
}

.popular-card-text {
    margin-top: 4rem;
}

.popular-container {
    text-align: center;
}

.popular-card-container {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    display: grid;
    justify-items: center;
    gap: 2rem;
    margin: 8rem auto;
    width: 95vw;
}

.popular-card {
    display: flex;
    flex-direction: column;
    background-color: var(--clr-orange);
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 0px 0rem 1rem 0px #444444;
    transition: transform 0.2s ease-in-out;
    margin-bottom: 5rem;
}

.popular-img {
    aspect-ratio: 1/1;
    overflow: hidden;
    object-fit: cover;
    width: 100%;
}

.image-container {
    width: 50%;
    display: flex;
    justify-content: center;
}

.cards_mainDishes-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 430px);
    width: 100%;
    gap: 2rem;
    justify-items: center;
    justify-content: center;
}

.card2 {
    background-color: var(--clr-white);
    border-radius: 2rem;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
    max-width: 30rem;
    text-align: center;
    padding: 1.25rem;
    transition: transform 0.2s ease-in-out;
    text-decoration: none;
}

.card2-img {
    max-width: 100%;
    height: auto;
    border-radius: 2rem;
}

.card2:hover {
    transform: scale(1.05);
}

.cta-container:hover {
    transform: scale(1.05);
}

.popular-card:hover {
    transform: scale(1.05);
}

.card2:hover {

    transform: scale(1.05);
}

.card:hover {
    transform: scale(1.13);
    background-color: #c0c90897;
}

@media (max-width:767.98px) {

    .subscribe {
        padding: 1rem;
        text-align: center;
        height: 40vh;
    }

    .in-touch {
        margin-left: 0;
    }
}