@import url('./abstracts/vars.css');

@import url('./base/typography.css');
@import url('./base/base.css');

@import url('./layout/footer.css');
@import url('./layout/header.css');
@import url('./layout/grid.css');
@import url('./layout/navigation.css');
@import url('./layout/forms.css');

@import url('./themes/admin.css');

@import url('./components/components.css');

@import url('./pages/cart.css');

/*MENU*/

/*SWIPER*/

/*POPULAR FOOD*/

/*SUBSCRIBE*/

/*FOOD DESCRIPTION*/

/*CATEGORIES*/

/*ANIMATIONS*/

@media (max-width:767.98px) {

    .popular-card-text {
        margin-top: 2rem;
    }

    .header-container-food {
        flex-direction: column;
        padding: 2rem 2rem;
        text-align: center;
    }

    .order-btn2 {
        padding: 2rem 2rem;
    }


    .hero-container {
        height: min(70rem, 75rem);
    }

    .hero-text-container {
        width: 100%;
    }

    .hero-main {
        text-align: center;
        justify-items: center;
        flex-direction: column-reverse;
        padding: 2rem 2rem;
    }

    .hero-img-container {
        width: 100%;
    }

    .menu-container {
        margin-bottom: 3rem;
    }

    .why-us-container {
        display: block;
        align-content: center;
        margin-bottom: 3rem;
        margin-top: 3rem;
        gap: 2rem;
        margin-left: auto;
        margin-right: auto;
    }

    .logo {
        width: 70%;
        display: flex;
        margin-bottom: 2rem;
    }

}