.input-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-end;
} 

.quantity-input {
    width: 6rem;
    background-color:#E1DEDE;
    color: black;
    font-family: var(--ff-main);
    font-size: var(--fs-xxs);
    font-weight:bold;
    border: none;
    text-align: center;
    border: 2px solid white;
    
}