* {
    font-family: var(--ff-main);
}

.admin-container {
    display: grid;
    width: 100vw;
    font-family: var(--ff-main);
    background: var(--clr-light-green);
    width: 80%;
    margin: auto;
    padding:3rem;
    border-radius: 2rem;
    text-align: center;
}

label {
    font-family: var(--ff-secondary);
    font-weight: var(--fw-bold);
}

input {
    border-radius: 2rem;
    padding: .3rem;
}

.form-items {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

input,
textarea,
select {
    padding: .5rem;
    border-radius: .5rem;
    font-family: var(--ff-main);
}

#preview {
    display: block;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: center;
}

input[type='file'] {
    background: var(--clr-yellow);
    color: transparent;
    padding: 1rem 0;
}

input[type='file']::before {
    content: 'Pick an image file';
    color: rgb(0, 0, 0);
    margin: 0 .7rem;
}

thead {
    font-weight: bold;
}

td {
    padding: .7rem;
}

.action-icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 6rem;
}

.add-form {
    display: grid;
    justify-content: center;
} 

.form-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
}

.add-img-container { 
    display: grid;
    width: 50%;
    justify-content: center;
}

.center-text{
    text-align: center;
    margin: 4rem 0 2rem 0;
}