* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body1 {
    background-image: url(../../imgs/body-background.png);
    align-items: center;
    justify-content: center;
}

.body2 {
    background-color: var(--clr-light-green);
    align-items: center;
    justify-content: center;
}